.titleContainer {
    padding: 20px;
    background-color: #212147;
    color: rgb(255, 255, 255);
    height: 65vh;
    text-align: center;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/7a/1d/34/7a1d34e5a954b3997ebcd3308b68a1b7.png');
    background-size: cover;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
}

.serverContainer {
    display: flex;
    justify-content: space-between;
}

.contentSection {
    color: #000000;
    text-align: center;
}

.serversContainer {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
    line-height: normal;
    padding: 40px;
}
