.contentSection {
    padding-top: 200px;
    padding-bottom: 200px;
    color: #000000;
}

.textCenter {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-size: contain;
    background-image: url('https://img.freepik.com/free-photo/artistic-texture-paint-brush-stroke_23-2148177480.jpg?w=1480&t=st=1708524698~exp=1708525298~hmac=4bb25032d73498784078a662dfd5310427b052755a03907d3fd0e956baebf69f');
}

.nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #160404;
}

.navLink {
    margin-right: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}

.navLinku {
    margin-right: 1440px;
    text-decoration: none;
    color: #ffffff;
    font-size: large;
}

.navLink:hover {
    color: #dddddd;
}

.h3 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.p {
    color: #dddddd;
    font-size: 1.2em;
    line-height: 1.5;
}

.container {
    padding: 20px;
    background-color: #212147;
    color: rgb(255, 255, 255);
    height: 65vh;
    text-align: center;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/7a/1d/34/7a1d34e5a954b3997ebcd3308b68a1b7.png');
    background-size: cover;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
}

.serverContainer {
    display: flex;
    justify-content: space-between;
}

.servers {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
    line-height: normal;
    padding: 40px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.subHeading {
    text-align: center;
}

.body {
    background-color: #303063;
}

.h2 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}


